@import url('https://fonts.googleapis.com/css?family=Inconsolata|Roboto+Mono|VT323');
@import "node_modules/bulma/sass/utilities/initial-variables";


$purple: #7b49fc;
$dark: #24292E;

$primary: $purple; // purple ish
//$family-sans-serif: "Inconsolata";
//$family-primary: "Inconsolata", monospace;

$link-hover: lighten($primary, 10);
$nav-hover: lighten($dark, 5);

$background: darken($dark, 2);

$navbar-background-color: $dark;
$navbar-item-color: lighten($nav-hover, 15);
$navbar-item-hover-color: $navbar-item-color;
$navbar-item-hover-background-color: $nav-hover;
$navbar-item-active-color: lighten($nav-hover, 15);
$navbar-dropdown-background-color: $nav-hover;
$navbar-dropdown-item-hover-color: lighten($nav-hover, 15);
$navbar-dropdown-item-hover-background-color: lighten($nav-hover, 5);
$navbar-divider-background-color: $dark;

#app {
  background-color: $dark;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  color: $purple;
  font-weight: 600;
}

// dnd Grid stuff TODO actually import the css file
.dnd-grid-container {
    position: relative;
    transition: min-width ease-out 0.1s, min-height ease-out 0.1s;
}
.dnd-grid-container .dnd-grid-box.placeholder {
    border: 1px dashed #000;
    background: none;
    z-index: 0;
}
.dnd-grid-container .dnd-grid-box.placeholder {
    transition: none !important;
}

.dnd-grid-box {
    position: absolute;
    z-index: 1;
    border: solid #5B6DCD 1px;
    box-sizing: content-box;
}
.dnd-grid-box.dragging,
.dnd-grid-box.resizing {
    z-index: 2;
    opacity: 0.7;
    border: solid #5B6DCD 1px;
    box-sizing: content-box;
}
.dnd-grid-box:not(.dragging):not(.resizing) {
    transition: top ease-out 0.1s, left ease-out 0.1s, width ease-out 0.1s, height ease-out 0.1s;
}
.dnd-grid-box .resize-handle {
    position: absolute;
    right: -5px;
    bottom: -5px;
    width: 15px;
    height: 15px;
    cursor: se-resize;
}

// dnd stuff over

@import "node_modules/bulma/bulma";
